# Visual Studio generated .clang-format file

# The style options in this file are a best effort attempt to replicate the
# current IDE formatting configuration from Tools > Options. The following
# style options, however, should be verified:
# AfterClass; AfterControlStatement; AfterEnum; AfterFunction; AfterNamespace; 
# AfterStruct; AfterUnion

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false    # TODO: verify
  AfterControlStatement: false    # TODO: verify
  AfterEnum: false    # TODO: verify
  AfterFunction: false    # TODO: verify
  AfterNamespace: false    # TODO: verify
  AfterStruct: false    # TODO: verify
  AfterUnion: false    # TODO: verify
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: false
